@use "@gouvfr-lasuite/ui-kit/sass/fonts";
@use "@gouvfr-lasuite/ui-kit/style";
@use "./cunningham-tokens.css";
@use "./cunningham-tokens.scss" as *;
@use "./screens.scss";
@use "./picker-select.scss";

html, body {
  height: 100%;
  margin: 0;
  overflow: auto;
  background-color: #F6F8F9;
}

div#root {
  min-height: 100%;
  min-width: 300px;
  padding: 8px;
  box-sizing: border-box;
}