@use "@gouvfr-lasuite/ui-kit/sass/fonts";
@use "@gouvfr-lasuite/ui-kit/style";
@use "./cunningham-tokens.css";
@use "./cunningham-tokens.scss" as *;

html, body {
  height: 100%;
  margin: 0;
  overflow: auto;
  background-color: var(--c--contextuals--background--surface--tertiary);
}

div#root {
  min-height: 100%;
  min-width: 300px;
  padding: 8px;
  box-sizing: border-box;
}

.c__toast__container {
  pointer-events: none;

  > * {
    pointer-events: auto;
  }
}